<div>
  <a href="<%=reports_path%>"><button>new message</button></a>
</div>

<div>

  <%= form_for "configs", :url => '/planet_config' do |f|%>
      시작 좌표 : <%= collection_select(:user, :planet_id, @current_user.planets, :id, :coordinate) %>
      속도 : <%= f.text_field :speed, :value => @speed, :size => 5 %>
      <%= f.submit %>
  <% end %>
</div>

<div class="itsthetable">
  <table>
    <thead>
    <tr>
      <% menus = ["user_id", "좌표", "메탈", "크리", "듀테륨", "에너지", "필요 카소", "업데이트 시간", "약탈", "기록", "정탐", "광산레벨", "함대수", "방시수"] %>
      <% menus.each do |menu| %>
          <th><%= link_to menu, planets_path(:arrange_type => menus.index(menu)) %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @planets_information.each do |planet_information| %>
        <tr>
          <td><%= planet_information['ogame_id'] %></td>
          <td><%= planet_information['coordinate'] %></td>
          <td><%= planet_information['next_metal'] %></td>
          <td><%= planet_information['next_crystal'] %></td>
          <td><%= planet_information['next_deuterium'] %></td>
          <td><%= planet_information['energy'] %></td>
          <td><%= planet_information['next_need_small_cargo'] %></td>
          <td><%= planet_information['elapsed_time'] %> 시간 이전</td>
          <td><a target="_blank" href="<%=planet_information['attack_address']%>">약탈</a></td>
          <td>
            <%= form_for planet_information['planet'] do |f|%>
                <%= hidden_field :resources, :metal, :value => planet_information['next_metal']/2 %>
                <%= hidden_field :resources, :crystal, :value => planet_information['next_crystal']/2 %>
                <%= hidden_field :resources, :deuterium, :value => planet_information['next_deuterium']/2 %>
                <%= hidden_field :planet, :start_planet, :value => @start_planet.id %>
                <%= hidden_field :planet, :arrival_time, :value => planet_information['arrival_time'] %>
                <%= f.submit :save %>
            <% end %>
          </td>
          <td><a target="_blank" href="<%=planet_information['espionage_address']%>">1기</a>/<a target="_blank" href="<%=planet_information['detail_espionage_address']%>">11기</a></td>

          <% if planet_information['building_report'] %>
              <td><%= planet_information['Metal Mine'] %>/<%= planet_information['Crystal Mine'] %>/<%= planet_information['Deuterium Synthesizer'] %></td>
          <% else %>
              <td>-</td>
          <% end %>

          <% if planet_information['fleet_report'] %>
              <td><a href="<%= planet_path planet_information['planet']%>"><%=  planet_information['number_of_fleets'] %></a></td>
          <% else %>
              <td>-</td>
          <% end %>



          <% if planet_information['defense_report'] %>
            <td><%=  planet_information['number_of_defenses'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!--<%= Report.all.size %>-->
