

<div class="itsthetable">
  행성 정보
    <ul>
      <li>아이디 : <%= @planet.user.ogame_id %></li>
      <li>좌표 : <%= @planet.coordinate %></li>
    </ul>
</div>

<% if @fleet_report %>
<div class="itsthetable">
  함대 정보 (updated : <%= ((Time.now - @fleet_report.time) / 60 / 60).round(2) %> 시간 전 )
  <table>
    <thead>
    <tr>
      <th>함대 명</th>
      <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <% @fleet_report.report_fleets.each do |report_fleet| %>
        <tr>
          <td><%= report_fleet.fleet.keyword %></td>
          <td><%= report_fleet.value %>대</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @defense_report  %>
<div class="itsthetable">
  방어시설 정보 (updated : <%= ((Time.now - @defense_report.time) / 60 / 60).round(2) %> 시간 전 )
  <table>
    <thead>
    <tr>
      <th>함대 명</th>
      <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <% @defense_report.report_defenses.each do |report_defense| %>
        <tr>
          <td><%= report_defense.defense.keyword %></td>
          <td><%= report_defense.value %>대</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @research_report  %>
    <div class="itsthetable">
      연구레벨 정보 (updated : <%= ((Time.now - @research_report.time) / 60 / 60).round(2) %> 시간 전 )
      <table>
        <thead>
        <tr>
          <th>연구 명</th>
          <th>레벨</th>
        </tr>
        </thead>
        <tbody>
        <% @research_report.report_researches.each do |report_research| %>
            <tr>
              <td><%= report_research.research.keyword %></td>
              <td><%= report_research.value %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @params[:debug] %>
    <div>
      <% @last_report.report_text %>
    </div>
    <div>
      <% @last_report.message %>
    </div>


<% end %>