
<%= link_to "앞으로 가기", planets_path %>

<div class="itsthetable">
  <div class="space"></div>
  <h3 class="title">행성 정보</h3>
    <ul>
      <li>아이디 : <%= @planet.user.ogame_id %></li>
      <li>좌표 : <%= @planet.coordinate %></li>

      <% if @last_report %>
          <li>메탈 : <%= @last_report.get_resource_value "Metal" %></li>
          <li>크리스탈 : <%= @last_report.get_resource_value "Crystal" %></li>
          <li>듀테륨 : <%= @last_report.get_resource_value "Deuterium" %></li>
          <li>에너지 : <%= @last_report.get_resource_value "Energy" %></li>
      <% end %>
    </ul>
</div>


<% if @fleet_report %>
<div class="itsthetable">
  <div class="space"></div>
  <h3 class="title">함대 정보 (updated : <%= ((Time.now - @fleet_report.time) / 60 / 60).round(2) %> 시간 전 )</h3>
  <table>
    <thead>
    <tr>
      <th>함대 명</th>
      <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <% @fleet_report.report_fleets.each do |report_fleet| %>
        <tr>
          <td><%= report_fleet.fleet.keyword %></td>
          <td><%= report_fleet.value %>대</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @defense_report  %>
<div class="itsthetable">
  <div class="space"></div>
  <h3 class="title">방어시설 정보 (updated : <%= ((Time.now - @defense_report.time) / 60 / 60).round(2) %> 시간 전 )</h3>
  <table>
    <thead>
    <tr>
      <th>함대 명</th>
      <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <% @defense_report.report_defenses.each do |report_defense| %>
        <tr>
          <td><%= report_defense.defense.keyword %></td>
          <td><%= report_defense.value %>대</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @research_report  %>
    <div class="itsthetable">
      <div class="space"></div>
      <h3 class="title">연구레벨 정보 (updated : <%= ((Time.now - @research_report.time) / 60 / 60).round(2) %> 시간 전 )</h3>
      <table>
        <thead>
        <tr>
          <th>연구 명</th>
          <th>레벨</th>
        </tr>
        </thead>
        <tbody>
        <% @research_report.report_researches.each do |report_research| %>
            <tr>
              <td><%= report_research.research.keyword %></td>
              <td><%= report_research.value %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @building_report  %>
    <div class="itsthetable">
      <div class="space"></div>
      <h3 class="title">건물 정보 (updated : <%= ((Time.now - @building_report.time) / 60 / 60).round(2) %> 시간 전 )</h3>
      <table>
        <thead>
        <tr>
          <th>건물 명</th>
          <th>레벨</th>
        </tr>
        </thead>
        <tbody>
        <% @building_report.report_buildings.each do |report_building| %>
            <tr>
              <td><%= report_building.building.keyword %></td>
              <td><%= report_building.value %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @planet.attacks.size > 0  %>
    <div class="itsthetable">
      <div class="space"></div>
      공격 기록
      <table>
        <thead>
        <tr>
          <th>공격자</th>
          <th>출발좌표</th>
          <th>메탈</th>
          <th>크리스탈</th>
          <th>두테륨</th>
          <th>시간</th>
          <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <% @planet.attacks.each do |attack| %>
            <tr>
              <td><%= attack.start_planet.user.ogame_id %></td>
              <td><%= attack.start_planet.coordinate %></td>
              <td><%= attack.metal %></td>
              <td><%= attack.crystal %></td>
              <td><%= attack.deuterium %></td>
              <td><%= attack.time.in_time_zone("Seoul") %></td>
              <td><%= link_to '삭제', attack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @planet.reports.last %>
    <div class="itsthetable">
      <div class="space"></div>
      <h3 class="title">websim 용 텍스트 정보 (websim 페이지의 파싱 부분에 넣는다.) <%= link_to "바로가기", "http://websim.speedsim.net/", :target=>:blank %></h3>
      <table>
        <thead>
        <tr>
          <th>report 부분 텍스트 (정탐 시간순 정렬)</th>
        </tr>
        </thead>
        <tbody>
        <% @planet.reports.order("time DESC").each do |report| %>
            <tr>
              <td><%= report.report_text.gsub("Armor", "Armour") %></td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>
<% end %>